.slider {
  position: relative;
  user-select: none;
  width: 100rem;
  height: 60rem;
  margin: 0 auto;
  overflow: hidden;
}

.slider:hover {
  cursor: grab;
}

.slider-main {
  position: relative;
  left: -100rem;
  width: 301rem;
}

.slider-main > img {
  object-fit: cover;
  height: 60rem;
  width: 100rem;
  pointer-events: none;
}

.slider-nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 3rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.slider-nav:hover {
  cursor: auto;
}

.slider-nav > .nav-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-basis: 40%;
}

.slider-nav > .nav-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.slider-nav > .nav-arrow > img  {
  height: 2rem;
}

.slider-nav > input {
  width: 2rem;
  padding: 3px 6px;
  flex-basis: 20%;
  border-radius: 5px;
  outline: none;
  border: none;
}

